# Dicionários | dict

basic [data] types:
* strings
* numbers (`int`, `float`)
* arrays (`tuple`, `list`)
* maps/tables (`dict`)

on dictionaries:
* it's a table of key-value pairs
* restrictions:
  * **keys** must be _hashable_ [`string`, `number`, `tuple` (of `strings` or `number` or `tuple`)]
  * **values** can be anything...

In [48]:
d1 = {0: 0}
d1

{0: 0}

In [49]:
d2 = {'a': 0}
d2

{'a': 0}

In [51]:
d3 = {(0, 'a'): 0}
d3

{(0, 'a'): 0}

In [52]:
dNAO = {[0]: 0}

TypeError: unhashable type: 'list'

In [55]:
d4 = {
    'portugal': {
        'lisboa': [
            'penha de frança',
            'graça'
        ],
        'porto': [
            'bolhão',
            'santana'
        ]
    },
    'inglaterra': {
        'londres': [
            'whatever1',
            'whatever2'
        ]
    }
}

In [61]:
for country, cities in d4.items():
    print(country)
    for city, fregs in cities.items():
        print("\t",city)
        for number, freg in enumerate(fregs):
            print("\t\t", f"{number}: {freg}")

portugal
	 lisboa
		 0: penha de frança
		 1: graça
	 porto
		 0: bolhão
		 1: santana
inglaterra
	 londres
		 0: whatever1
		 1: whatever2

In [54]:
d4

{'portugal': {'lisboa': {'penha de frança'}}}

In [9]:
joana = 27
pedro = 30
carlota = 50

In [13]:
pessoas_idades = {
    'joana': 27,
    'pedro': 30,
    'carlota': 50
}

In [15]:
pessoas_idades['ana'] = 1

In [17]:
pessoas_idades['ana'] = 3

In [23]:
pessoas_idades

{'joana': 27, 'pedro': 30, 'carlota': 50, 'ana': 3}

In [24]:
soma=0
for idade in pessoas_idades.values():
    soma += idade
soma

110

In [26]:
nomes=''
for nome in pessoas_idades.keys():
    nomes += ',' + nome
nomes

',joana,pedro,carlota,ana'

* queremos um dicionario com as pessoas (nas keys) e o ano de nascimento (nos values)
* e.g.: {'joana': 1995, ...}

In [27]:
pessoas_idades.items()

dict_items([('joana', 27), ('pedro', 30), ('carlota', 50), ('ana', 3)])

In [44]:
pessoas_datas = {}
for pessoa, idade in pessoas_idades.items():
    pessoas_datas[pessoa] = 2022 - idade

In [45]:
pessoas_datas

{'joana': 1995, 'pedro': 1992, 'carlota': 1972, 'ana': 2019}

In [18]:
d = {}
for i in range(10):
    d[str(i)] = i + 10

In [20]:
d.keys()

dict_keys(['0', '1', '2', '3', '4', '5', '6', '7', '8', '9'])

In [21]:
d.values()

dict_values([10, 11, 12, 13, 14, 15, 16, 17, 18, 19])

In [22]:
d.items()

dict_items([('0', 10), ('1', 11), ('2', 12), ('3', 13), ('4', 14), ('5', 15), ('6', 16), ('7', 17), ('8', 18), ('9', 19)])

In [33]:

l = ['a', 'b', 'c']
t = tuple(l)

In [36]:
list(enumerate('abracadabra'))

[(0, 'a'),
 (1, 'b'),
 (2, 'r'),
 (3, 'a'),
 (4, 'c'),
 (5, 'a'),
 (6, 'd'),
 (7, 'a'),
 (8, 'b'),
 (9, 'r'),
 (10, 'a')]

In [42]:
for i, elem in enumerate(l):
    print(f"On position {i} there is element {elem}")

On position 0 there is element a
On position 1 there is element b
On position 2 there is element c